

    h1{
        font-size: large;
    }
    #call{
      
       background-image:url(../images/Vector1.png) ;
       
    }
 #form{
      float:right ;
  }
    
    li{
        display: inline-block;
      
    }
